nav {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 1.5rem;
  margin-left: 80px;
  
  /* padding-top: 0.5rem;
  padding-left: 1rem; */
}

.container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items:first-baseline;
  align-content: space-between;
  flex-basis: 200px;
}

img {
  max-height: 350px;
  width: auto;
}


